@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #353535;
  /* background-image: url("../public/img/noise_transparent.png"); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

dialog:focus {
  outline: none;
}
